body{
    

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}
body{
    color: black
}

/* header{ 
    background-color:darkslateblue
}*/

header .logo{
    float: left;
    width:auto
}

header .logo a img{
    padding-left: 50%;
    width: 80px
    
}
header .name{
    padding: 1.8% 0 0 12%
    
}

header .name p{
    padding-top: 0.375%
}

header .menu ul{
    margin:-2% 7.5% 0 0
}
header .menu ul li{
    
    float:right; 
    padding: 0 2%;
}
.clear{
    width:1px;height:0;clear:both;
}
