body{
    

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}
body{
    color: black
}

/* header{ 
    background-color:darkslateblue
}*/

header .logo{
    float: left;
    width:auto
}

header .logo a img{
    padding-left: 10px;
    width: 80px
    
}
header .name{
    padding: 24px 0 0 120px
    
    
}
header .name{
    width: 3000px
}
header .name p{
    padding-top: 5px
}

header .menu ul{
    margin:-27px 100px 0 0
}
header .menu ul li{
    
    float:right; 
    padding: 0 30px;
}
.clear{
    width:1px;height:0;clear:both;
}
